<html>
    <head>
        <title>Todo lister</title>
        
        <link rel="stylesheet" href="css/styles.css">
        
    </head>
    <body>
        <div class="container">
            <div class="inner-container">
                <div class="logo">
                    <p>Todo List</p>
                </div>
                <div class="login-head">
                    <p>Login form</p>
                </div>
                <div class="login-form">
                    <form method="post">                        
                            <input type="text" name="username">        
                            <input type="password" name="password">
                            <input type="submit" value="Login">       
                    </form>
                    <div class="signup">
                        <a href="/signup">signup</a>
                    </div>
                </div>
                <div class="footer">
                    <p>
                       
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>