<html>
    <head>
        <title>Sample Home page</title>
    </head>
    <body>
       <h1>Todo List</h1>
        <div class="login">
            <form method="post">
                <input type="text" name="username">
                <input type="password" name="password">
                <input type="submit" value="login">
            </form>
        </div>
    </body>
</html>