<html>
    <head>
        <title>Todo lister</title>
        <script src="https://code.jquery.com/jquery-1.12.4.js" integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU=" crossorigin="anonymous"></script>
        <script src="../app/todo-list.js"></script>
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <div class="container">
            <div class="inner-container">
                <div class="logo">
                    <p>Todo List</p>
                    <p><%= user %></p>
                </div>
                <div class="login-form">
                    <form method="post">
                       <input type="text" name="item">
                       <input type="hidden" value="<%= user %>" name="username">
                       <input type="submit" value="Add to list"> 
                    </form>
                       
                    <ul>
                        <%for(var i = 0;i< todo.length ; i++) {%>
                            <li>
                                <%= todo[i].item %>
                            </li>
                        
                        <% } %>
                    </ul>
                </div>
                <div class="footer">
                    <p>
                       
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>