<html>
    <head>
        <title>User Home</title>
    </head>
    <body>
       <h1>sample</h1>
        <%for(var i = 0;i< data.length ; i++) {%>
             <p>
                 <%= data[i].item %>
            </p>          
        <% } %>
    </body>
</html>