<html>
    <head>
        <title>Todo lister</title>
        
        <link rel="stylesheet" href="css/styles.css">
        
    </head>
    <body>
        <div class="container">
            <div class="inner-container">
                <div class="logo">
                    <p>Todo List</p>
                </div>
                <div class="login-head">
                    <p>Sign-up</p>
                </div>
                <div class="login-form">
                    <form method="post">
                        <div class="login-username">
                            <input type="text" name="username">
                        </div>
                        <div class="login-email">
                            <input type="email" name="email">
                        </div>
                        <div class="login-password">
                            <input type="password" name="password">
                        </div>
                        <div class="login-submit">
                            <input type="submit" value="Login">
                        </div>
                    </form>
                    <div class="login">
                        <a href="/"></a>
                    </div>
                </div>
                <div class="footer">
                    <p>
                       
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>