<html>
    <head>
        <title>Todo lister</title>
        
        <link rel="stylesheet" href="css/styles.css">
        <link href="https://fonts.googleapis.com/css?family=Prociono" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div class="inner-container">
                <div class="logo">
                    <p>Todo <strong>LISTER</strong></p>
                </div>
                
                
                <div class="login-page">
                    
                  <div class="form">
                    <p><strong>Register</strong></p>
                    <form class="register-form" method="post">
                      <input type="text" placeholder="username" name="username" required/>
                      <input type="email" placeholder="email address" name="email" required/>
                      <input type="password" placeholder="password" name="password" required/> 
                      <input type="submit" value="Register" name="submit">
                      <p class="message">Already registered? <a href="/">Sign In</a></p>
                      <p class="error"><%= data %></p>
                    </form>
                  </div>
                </div>
                
                <div class="foot">
                    
                        <p>&copy Karthik M</p>
                </div>
            </div>
        </div>
    </body>
</html>